<?xml version="1.0" encoding="UTF-8"?>
<!-- 先申明xml标签的namespace，再设定namespace引用的xsd约束（schemaLocation）。 这样配置完namespace，xml标签才能有提示
但若电脑没有连接网络，找不到xsd约束，則需要配置本地 schemaLocation引用xsd文件。-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    
    <!-- 1.配置数据库相关参数 -->
	<context:property-placeholder location="classpath:config/db.properties" />
	
	<!-- 2.数据库连接池 -->
	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- 3.配置SqlSessionFactory : SqlSessionFactoryBean实现了FactoryBean接口，根据該bean的id從spring容器中获取的实际是
	FactoryBean的getObject()返回的对象，如果要获取FactoryBean对象，请在id前面加一个&符号來获取。
	查看SqlSessionFactoryBean的源码可以看到getObject()返回的是SqlSessionFactory对象，而不是SqlSessionFactoryBean对象。 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource"/>
		<property name="configLocation" value="classpath:config/mybatis-config.xml"/>
		
		<!--批量别名可在此处设定，也可在mybatis-spring.xml 中设定-->
		<property name="typeAliasesPackage" value="com.emi.entity"/>

		<!--下面MapperScannerConfigurer有设定basePackage，此处的mapperLocation可以去掉-->
		<!--<property name="mapperLocations" value="classpath:com/emi/dao/*.xml"/>-->

	</bean>
	
	<!-- 4.配置MapperScannerConfigurer : 扫描Dao接口包，通过SqlSessionFactory來动态实现Dao接口，注入到spring容器中 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 此处sqlSessionFactoryBeanName是String类型，传入SqlSessionFactoryBean的id名 -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		<!-- 设置扫描mapper映射文件的包路径 -->
		<property name="basePackage" value="com.emi.dao"></property>
	</bean>
	
</beans>
