<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 1.配置SpringMVC：开启SpringMVC注解模式 -->
	<!-- <mvc:annotation-driven /> -->
	<mvc:annotation-driven conversion-service="dateConvert"/>
	
	<!-- 2.增加静态资源默认servlet配置 -->
	<mvc:default-servlet-handler/>
	
	<bean id="dateConvert" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.emi.util.DateConvert"></bean>
			</set>
		</property>
	</bean>
	
	<!-- 3.配置jsp显示ViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<!--此处设定jsp的根路径，若需要访问其子目录的jsp，則可以return 页面路径时写上子目录，eg：admin/login-->
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<!-- 4.扫描web层的注解bean纳入IOC容器管理 -->
	<context:component-scan base-package="com.emi.web" />
	
	<!-- 5.配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/chat/**"/>
			<bean class="com.emi.web.intercepter.PrivilegeIntercepter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
